<div class="off-canvas-content" data-off-canvas-content>
    <app-topbar></app-topbar>
    <app-topheader></app-topheader>
    <!--breadcrumbs-->
    <!-- <section id="breadcrumb">
        <div class="row">
            <div class="large-12 columns">
                <nav aria-label="You are here:" role="navigation">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-home"></i><a href="/">Home</a></li>

                        <li>
                            <span class="show-for-sr">Current: </span> View Channel
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section> -->
    <!--end breadcrumbs-->

    <!--pass dynamic image url -->
    <style>
        .topProfile{
            /* background-image: url('https://olc-wordpress-assets.s3.amazonaws.com/uploads/2019/10/E-Learning-with-blurred-city-abstract-lights-background.jpeg'); */
        }
    </style>
    <!--pass dynamic image url  ends-->

    <!-- profile top section -->
    <section class="topProfile" [ngStyle]="setBackground()">
        <div class="main-text text-center">
            <div class="row">
                <div class="large-12 columns">
                    <h3>Welcome to</h3>
                    <h1>{{editchannelModel.channel_name}}</h1>
                </div>
            </div>
        </div>
        <div class="profile-stats">
            <div class="row secBg">
                <div class="large-12 columns">
                    <div class="profile-author-img">
                        <img src="{{editchannelModel.imageBase}}{{editchannelModel.channel_profile_img}}" alt="profile author img">
                    </div>
                    <div class="profile-subscribe">
                        <span><i class="fa fa-eye"></i>{{editchannelModel.total_views}}</span>
                        <button type="submit" name="subscribe" disabled>Views</button>
                    </div>

                    <div class="clearfix">
                        <div class="profile-author-name float-left">
                            <h4>{{editchannelModel.username}}</h4>
                            <p>Created Date : <span>{{editchannelModel.created_date | date:'dd MMMM y'}}</span></p>
                        </div>
                        <div class="profile-author-stats float-right">
                            <ul class="menu">
                                <li>
                                    <div class="icon float-left">
                                        <i class="fa fa-video-camera"></i>
                                    </div>
                                    <div class="li-text float-left">
                                        <p class="number-text">{{editchannelModel.videos_count}}</p>
                                        <span>Videos</span>
                                    </div>
                                </li>
                             
                                <li>
                                    <div class="icon float-left">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div class="li-text float-left">
                                        <p class="number-text">{{editchannelModel.total_views}}</p>                 <span>Views</span>                      
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End profile top section -->

    <div class="row">
        <!-- right side content area -->
        <div class="large-12 columns">
            <!-- single post description -->
            <section class="singlePostDescription">
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="heading">
                            <i class="fa fa-user"></i>
                            <h4>About Channel</h4>
                        </div>
                        <div class="description">
                            <p>{{editchannelModel.about_channel}}</p>

                            <div class="site profile-margin">
                                <button><i class="fa fa-globe"></i>Website</button>
                                <a href="https://roodabatoz.com/website/{{editchannelModel.website}}" class="inner-btn" target="blank">{{editchannelModel.website}}</a>
                            </div>
                         
                        </div>
                    </div>
                </div>
            </section><!-- End single post description -->

            <!-- author videos -->
            <section class="content content-with-sidebar margin-bottom-10">
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <h4 class="pull-left"><i class="fa fa-video-camera"></i>Videos</h4>
                            <div class="grid-system pull-right show-for-large">
                                <a class="secondary-button current grid-default" href="#"><i class="fa fa-th"></i></a>
                                <a class="secondary-button grid-medium" href="#"><i class="fa fa-th-large"></i></a>
                                <a class="secondary-button list" href="#"><i class="fa fa-th-list"></i></a>
                            </div>
                        </div>
                        <div class="tabs-content" data-tabs-content="newVideos">
                            <div class="tabs-panel is-active" id="new-all">
                                <div class="row list-group">

                                    <div class="item large-4 medium-6 columns group-item-grid-default" *ngFor="let details of videodetails">
                                        <div class="post thumb-border">
                                            <div class="post-thumb">
                                                    <!-- <div class="video">
                                                    <video controls  #videoPlayer>
                                                        <source src="{{editchannelModel.imageBase}}{{details.video_file}}" type="video/mp4" />
                                                        Browser not supported
                                                    </video>
                                                </div> -->
                                                <img src="{{editchannelModel.imageBase}}{{details.preview_image}}" alt="new video"> 
                                                <a  href="javascript:void(0);" class="hover-posts" (click)="videodetail(details.id)">
                                                    <span><i class="fa fa-play"></i>Watch Video</span>
                                                 </a>
                                              
                                            </div>
                                            <div class="post-des cus-pointer" (click)="videodetail(details.id)">
                                                <h5>{{details.title}}</h5>
                                                <h6><a href="#">{{details.guideschedule}}</a></h6>
                                                <div class="post-stats clearfix">
                                                    <p class="pull-left">
                                                        <i class="fa fa-user"></i>
                                                        <span>{{editchannelModel.username}}</span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-clock-o"></i>
                                                        <span>{{details.created_date | date:'dd MMMM y'}}</span>
                                                    </p>
                                                    <p class="pull-left">
                                                        <i class="fa fa-eye"></i>
                                                        <span>33</span>
                                                    </p>
                                                </div>
                                                <div class="post-summary">
                                                    <p>{{details.description}}</p>
                                                </div>
                                                <div class="post-button">
                                                    <a href="javascript:void(0);" (click)="videodetail(details.id)" class="secondary-button" >
                                                        <i class="fa fa-play-circle"></i>watch video</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="videodetails.length==0">
                                        <span style="margin-left:20px;">No videos found</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center row-btn">
                            <!-- <a class="button radius" href="#">Load More</a> -->
                        </div>
                    </div>
                </div>
            </section>



            <!-- followers -->
            <!-- <section class="content content-with-sidebar followers margin-bottom-10">
                <div class="row secBg">
                    <div class="large-12 columns">
                        <div class="row column head-text clearfix">
                            <h4 class="pull-left"><i class="fa fa-users"></i>Followers</h4>
                        </div>
                        <div class="row collapse">
                            <div class="large-2 small-6 medium-3 columns">
                                <div class="follower">
                                    <div class="follower-img">
                                        <img src="http://placehold.it/115x100" alt="followers">
                                    </div>
                                    <span>Frank Wright</span>
                                    <button type="submit" name="follow">Subscribe</button>
                                </div>
                            </div>
                            <div class="large-2 small-6 medium-3 columns">
                                <div class="follower">
                                    <div class="follower-img">
                                        <img src="http://placehold.it/115x100" alt="followers">
                                    </div>
                                    <span>John Doe</span>
                                    <button type="submit" name="follow">Subscribe</button>
                                </div>
                            </div>
                            <div class="large-2 small-6 medium-3 columns">
                                <div class="follower">
                                    <div class="follower-img">
                                        <img src="http://placehold.it/115x100" alt="followers">
                                    </div>
                                    <span>Nancy john</span>
                                    <button type="submit" name="follow">Subscribe</button>
                                </div>
                            </div>
                            <div class="large-2 small-6 medium-3 columns">
                                <div class="follower">
                                    <div class="follower-img">
                                        <img src="http://placehold.it/115x100" alt="followers">
                                    </div>
                                    <span>Frank</span>
                                    <button type="submit" name="follow">Subscribe</button>
                                </div>
                            </div>
                            <div class="large-2 small-6 medium-3 columns">
                                <div class="follower">
                                    <div class="follower-img">
                                        <img src="http://placehold.it/115x100" alt="followers">
                                    </div>
                                    <span>lucy</span>
                                    <button type="submit" name="follow">Subscribe</button>
                                </div>
                            </div>
                            <div class="large-2 small-6 medium-3 columns end">
                                <div class="follower">
                                    <div class="follower-img">
                                        <img src="http://placehold.it/115x100" alt="followers">
                                    </div>
                                    <span>daisy</span>
                                    <button type="submit" name="follow">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
            <!-- Comments -->

        </div><!-- end left side content area -->

    </div>


    <app-footer></app-footer>
</div>